$primary: rgb(255, 194, 80);
$dark-primary: rgb(54, 31, 9);
$error: rgb(255, 85, 85);

$white: white;
$light-gray: rgb(206, 206, 206);
$gray: gray;
$dark-gray: rgb(51, 51, 51);
$black: black;

$normal: 400;
$bold: 700;